{% extends 'core_application/layout.html' %}

{% block title %}¿Quiénes somos?{% endblock %}

{% block content %}
<div class="container" id="welcoming">
  <section>
      <div class="row">
          <div id="ttimage" class="col-lg-3">
              <img src="static\core_application\img\table-tennis.png" alt="tt" id="ttr">
          </div>
          <div class="col-lg-9">
              <div class="row" id="title-welcoming">
                  <h1>¿Quiénes somos?</h1>
              </div>
              <div class="row" id="subtitle-welcoming">
                  <p>
                      Somos un equipo de estudiantes de Ingeniería Cibernética de <br>
                      la Universidad Tecnológica La Salle, apasionados por la programación,<br>
                      comprometidos con el desarrollo de soluciones tecnológicas innovadoras.<br><br>
      
                      Nuestro objetivo principal es aplicar nuestros conocimientos y <br> 
                      habilidades para resolver problemas reales, facilitando la vida de 
                      las personas a través de la tecnología. 
                  </p>
              </div> 
          </div>
      </div>
  </section>
  <section>
      
  </section>
</div>
{% endblock %}
      
    