{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core_application/styles/style.css' %}">
    <title>SGD {% block title %}{% endblock %}</title>
</head>
<body>
  <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-green">
        <a href="home.html">
          <img src="{%  static 'core_application/img/logo_ulsa.png' %}" alt="Logo" width="170" height="50" class="d-inline-block align-text-top">
        </a>
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                  <li class="nav-item nav-fontcolor">
                      <a class="nav-link nav-fontcolor" href="#">Noticias</a>
                  </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle nav-fontcolor" href="sport.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Deportes
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Ping pong</a></li>
                    <li><a class="dropdown-item" href="#">Fútbol</a></li>
                  </ul>
                </li>
                <li class="nav-item nav-fontcolor">
                  <a class="nav-link nav-fontcolor" href="about.html">¿Quiénes somos?</a>
                </li>
                <li class="nav-item nav-fontcolor">
                  <a class="nav-link nav-fontcolor" href="#">Calendario</a>
                </li>
                <li class="nav-item nav-fontcolor">
                  <a class="nav-link nav-fontcolor" href="#">Iniciar Sesión</a>
                </li>
              </ul>
              <form id="search-bar-input" class="d-flex busqueda" role="search" method="get">
                <input name="search" id="search-input" class="form-control me-2 search-bar" type="search" placeholder="Buscar jugador, equipo..." aria-label="Search">
                <button id="search-btn" class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
            </div>
          </div>
        </nav>
  </header>
  <main class="flex-fill">
    {% block content %}{% endblock %}
  </main>
  <footer>
    <div class="container foot">
      <div class="row footer-content line"></div>
      <div class="row footer-content">
        <div class="col-lg-9 col-sm-12">
              &copy;2024 Ice cubes | Todos los derechos reservados.
        </div>
        <div class="col-lg-3 col-sm-12 social-icons">
          <a href=""><img src="{% static 'core_application/img/facebook.png' %}" alt="facebook"></a>
          <a href=""><img src="{% static 'core_application/img/instagram.png' %}" alt="facebook"></a>
          <a href="https://github.com/JuanSobalvarro/SGD.git"><img src="{% static 'core_application/img/github.png' %}" alt="Github"></a>
        </div>
      </div>
    </div>
  </footer>
  <script src=" {% static 'core_application/scripts/app.js' %} "></script>
  <script src=" {% static 'core_application/scripts/search.js' %} "></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
